/* Importar el parcial body*/
/*Definicion de los colores que se van a usar*/
@font-face {
  font-family: "ubuntu";
  src: url("../font/Ubuntu-L.ttf");
}

/* body principal */
body {
  color: black;
  background: white;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: ubuntu;
}

h4 {
  border-bottom: solid 3px #E64946;
  text-align: justify;
}

.clearfix {
  display: block;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

nav {
  background: #2a2a2a;
  width: 100%;
}

.menu {
  background: none repeat scroll 0 0 #2a2a2a;
  font-weight: 400;
  text-transform: uppercase;
}
.menu ul {
  list-style: none;
  margin: 0px 0 0;
  padding: 0;
  width: 100%;
  text-align: justify;
  background: #2a2a2a;
  float: left;
}
.menu ul li {
  color: #f8f8f8;
  display: inline-block;
}
.menu ul li a {
  color: #FFFFFF;
  display: block;
  padding: 0.416em 1em;
  text-decoration: none;
}
.menu ul:after {
  content: ".";
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
}
.menu li {
  border-left: 1px solid #000000;
  float: left;
  position: relative;
  transition: background 0.8s ease-out 0s;
}
.menu li:hover {
  background: none repeat scroll 0 0 #E64946;
}

/* Cabecera */
header {
  width: 960px;
  height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title {
  vertical-align: text-top;
}

/* Contenido */
.content {
  box-shadow: 0 0 5px 1px #A8A8A8;
  margin: 0 auto;
  position: relative;
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.collum {
  width: 300px;
  float: left;
}

.first {
  margin-left: 20px;
}

.middle {
  margin-left: 10px;
}

.last {
  margin-left: 10px;
}

article {
  margin-left: 20px;
  margin-right: 20px;
}
article p {
  text-align: justify;
}

.categoria {
  color: #666666;
  font-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: solid 3px #E64946;
  /*ul{

    margin: 0px 0 0;
    padding: 0;
    width: 100%;
    text-align: justify;
    float: left;

    li{
      display: inline;
      float: left;

      a {
        color: #E64946;
        display: inline;
        padding: 0.416em 1em;
        text-decoration: none;
        font-size: 80%;
        font-size: 70%;
      }
    }
  }

  li {
    
  }*/
}
.categoria ul {
  list-style: none;
  margin: 0px 0 0;
  padding: 0;
  width: 100%;
  text-align: justify;
  background: black;
  float: left;
}
.categoria ul li {
  color: #f8f8f8;
  display: inline-block;
}
.categoria ul li a {
  color: #FFFFFF;
  display: block;
  padding: 0.416em 1em;
  text-decoration: none;
}
.categoria ul:after {
  content: ".";
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
}
.categoria li {
  border-left: 1px solid #000000;
  float: left;
  position: relative;
  transition: background 0.6s ease-out 0s;
}
.categoria li:hover {
  background: none repeat scroll 0 0 #E64946;
}

.featured {
  width: 900px;
  margin-left: 20px;
  padding-top: 20px;
}
.featured h3 {
  border-bottom: none !important;
}
.featured .seccion {
  background: #2A2A2A;
  height: 100px;
  border-top: solid 3px #e64946;
  border-bottom: solid 3px #E64946;
}

footer {
  background: #2a2a2a;
  width: 100%;
  height: 100px;
  color: #FFFFFF;
  font-size: 0.8125rem;
  padding: 1.25rem;
  margin-top: 10px;
}

#copyright {
  float: right;
  margin-right: 30px;
}

#contacto {
  float: left;
  margin-left: 30px;
}

/*Columna lateral*/
.lateral {
  background: #0ff;
  width: 220px;
  display: block;
  position: fixed;
  top: 80px;
  right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.social {
  position: fixed;
  top: 20%;
  width: 40px;
  z-index: 10000;
}
