/* Contenido */
$background: #000;

.content {
  box-shadow: 0 0 5px 1px #A8A8A8;
  margin: 0 auto;
  position: relative;
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #f1f1f1;
}

.collum {
  width: 300px;
  float: left;  
}

.first {
  margin-left: 20px;
  border: {
    right: solid 1px #666;
  }
}

.middle {
  margin-left: 10px;
  border: {
    right: solid 1px #666;
  }
}

.last {
  margin-left: 10px;
}

article {
  margin: {
  	right: 10px;
  }

  padding: {
    bottom: 20px;
  }

  p {
    text-align: justify;
  }
  h3 {
    border: {
      bottom: solid 3px #E64946;
    }
    text-align: justify;
  }

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #E64946;
      text-decoration: none;
    }
  }
}

.categoria {
  font-size: 85%;
  ul{
    list-style-type: none;
    margin: 0px 0 0;
    padding: 0;
    width: 100%;
    text-align: justify;
    float: left;

    li{
      display: inline-block;
      a {
        color: #E64946;
        display: block;
        //padding: 0.416em 1em;
        padding: {
          top: -5px;
          left: 10px;
        }
        text-decoration: none;
        font-size: 85%;
      }
    }
  }

  li {
    float: left;
    position: relative;
  }

  h4 {
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    border: {
      bottom: solid 2px #a8a8a8 !important;
    }
    font-size: 90%;
  }
}

.featured {
  width: 910px;
  margin: {
    left: 20px;
  }
  padding: {
    top: 20px;
  }
  h3 {
    border: {
      bottom: none !important;
    }
  }
  .seccion {
    background: #2A2A2A;
    
    height: 120px;
    border: {
      top: solid 3px #E64946 ;
      bottom: solid 3px #E64946;
    }

    ul{
      list-style-type: none;
      margin: 0px 0 0;
      padding: {
        top: 10px;
        left: 15px;
      }
      width: 100%;
      text-align: justify;
      float: left;
    }

    li {
      float: left;
      position: relative;
      display: inline-block;
      padding: {
        left: 15px;
      }
    }
  }
}

.etiqueta {
    background: none repeat scroll 0 0 #E64946;
    color: #FFFFFF;
    font-weight: 400;
    opacity: 0.7;
    padding: 0.125rem 0.625rem;
    position: absolute;
    top: 65%;
}