/* Contenido */
$background: #000;

.content {
  box-shadow: 0 0 5px 1px #A8A8A8;
  margin: 20px auto 0;
  position: relative;
  width: 980px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin: {
  	left: 20px;
  	right: 20px;
  }
}