$background: #987;

/* Cabecera */

header {

  width: 960px;
  height: 140px;
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
  	top: 20px;
  }
}

#title {
  vertical-align:text-top;
}